<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../assets/css/style.css">
  <title>Aves</title>
</head>
<body>

<!--====== PRELOADER PART START ======-->

<div class="preloader">
  <div class="loader">
      <div class="ytp-spinner">
          <div class="ytp-spinner-container">
              <div class="ytp-spinner-rotator">
                  <div class="ytp-spinner-left">
                      <div class="ytp-spinner-circle"></div>
                  </div>
                  <div class="ytp-spinner-right">
                      <div class="ytp-spinner-circle"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!--====== PRELOADER PART ENDS ======-->


<section>
  <br>
<div class="container">
<div class="card mb-3">
  <img src="./img/portadaaves.jpg" class="card-img"   height="500px"   alt="...">
  <div class="card-body">
    <h1 class="font-weight-bold mb-0">Aves</h1>
    <p class="lead text-muted">Sigue deslizando encontras mas informacion</p>  
    <p class="lead text-muted">Los cuidados básicos para tener un ave en casa son necesarios para que tu ave esté sana y feliz. Muchos de ellos se basan en la vigilancia y la interacción, otros sí implican materiales e infraestructura. Sigue leyendo y aprende cuáles son los cuidados antes de llevar un ave a casa.</p>  


    <a href="../index.php" class="btn btn-primary "></a> 
    <a href="./Perros.html" class="btn btn-danger"></a> 
  </div>
</div>
</div>
</section>

<section>

  <div class="container">
    <h1 class="font-weight-bold mb-0 text-lg-center">Cuidados</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="./img/jsulaave.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">01-Busca una jaula adecuada</h5>
            <p class="card-text">La jaula que busques puede determinar el bienestar de tu futura ave. Lo ideal es una jaula pequeña, que puedas mantener. Pero si fuese tan pequeña que restringiese los movimientos de tu ave, será un problema.</p>
          </div>
        
        </div>
      </div>
      <div class="col">
        <div class="card h-100 ">
          <img src="./img/veterave.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">02-Busca un veterinario de confianza</h5>
            <p class="card-text">Un veterinario de confianza es necesario si quieres llevar a un ave a casa. Muy probablemente quieras cuidar a tu ave tú mismo y suministrarle los suplementos necesarios. Y esto es lo ideal si tu ave no tiene crías o no presenta comportamientos extraños.</p>
          </div>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-95">
          <img src="./img/pgaves.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">03-Cuidado con los perros y los gatos</h5>
            <p class="card-text">Mantener las mascotas bien socializadas es uno de los cuidados básicos para tener un ave en casa. Si tus perros o gatos no están acostumbrados a tratar con las aves, pueden hacerles daño. Por eso, mientras se acostumbran, debes supervisa toda interacción entre ellos.</p>
          </div>
      
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="./img/entreave.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">04-Proporciona entretenimiento</h5>
            <p class="card-text">Las aves necesitan estímulo. Especialmente si son aves de manada. Aunque darle una pareja a tu ave podría mejorar mucho su estado de ánimo, también es necesario que tenga otros estímulos cognitivos.</p>
          </div>
        </div>
      </div>
    </div>
    <br> <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="./img/inverave.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">05-Ten previsiones en invierno</h5>
              <p class="card-text">En invierno y otoño muchas aves necesitan protección extra para no sufrir resfriados. Especialmente si se trata de aves tropicales o migratorias. Por esto hay que protegerlas de las corrientes de aire, las lluvias.</p>
            </div>
          
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="./img/alinave.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">06-Alimentación</h5>
              <p class="card-text">Las aves no tienen dientes, se tragan entero el alimento que pasa al buche donde se almacena y se mezcla con la saliva. Si palpa el buche de un ave, podrá decir si ha comido o no. El pienso pasa del buche al estómago, donde se mezcla con sus jugos antes de pasar a un órgano redondeado, de pared gruesa y musculoso llamado molleja. La molleja contiene piedrecitas pequeñas que el animal ha tragado para ayudarle a moler el alimento para digerirlo. Los nutrientes se absorben a medida que el pienso molido pasa por el intestino.</p>
            </div>
          </div>
        </div>
      </div>

</div>
<br>
<br>
</section>







  
  
  <script src="../assets/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="../assets/js/"></script>
   
   
  <!--====== Main js ======-->
  <script src="../assets/js/main.js"></script>
  
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  
</body>
</html>